// Specific CSS for your home-page
.banner {
  padding: 100px 0;
  text-align: left;
  background-color: #1a1a1a;
  position: relative;
  padding-left: 50px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


.banner h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 80%;
}

.banner p {
    color: #ddd;
    font-size: 1.25rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: 0;
    margin-right: auto;
}

h2 {
  font-size: 20px;
  background-color: white;
  text-align: center;
  padding: 30px;
}
