<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center my-4">Your bookings</h1>
      <div class="row">
        <% @bookings.each do |booking| %>
          <div class="col-md-3 mb-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><%= booking.deck.title %></h5>
                <p class="card-text">from: <%= booking.date_of_beginning %></p>
                <p class="card-text">until: <%= booking.date_of_end %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
