<h1>Mes Decks</h1>

<ul>
  <% @decks.each do |deck| %>
    <li>
      <h6> Name: <%= link_to deck.name, deck_path(deck) %></h6>
      <p>created by: <%= deck.user.username %></p>
    </li>
  <% end %>
</ul>
