<h1>Mes Decks</h1>

<ul>
  <% @decks.each do |deck| %>
    <li>
       <h2> Name: <%= link_to deck.name, deck_path(deck) %></h2>
      <%= deck.name %>
      <strong><%= deck.category.capitalize %></strong>
    </li>
  <% end %>
</ul>
