<div class="container">
  <h1>Create your deck!!</h1>
  <%= render "deck_form" %>

  <div class="button-before-footer">
    <%= link_to "Back", my_decks_path, class: "btn btn-flat" %>
  </div>
</div>
