<div class="container">
  <div class="d-flex pb-2 m-2">
    <%= link_to "Back", my_decks_path, class: "btn btn-flat" %>
  </div>
<div class="form-container p-5 m-2">
  <h2 class="form-title">Create your deck!!</h2>
  <%= render "deck_form" %>

</div>

</div>
