
<div class="container">
    <div><%= link_to "Back", decks_path, class: "btn btn-light col-1 mt-1 mb-1" %> </div>

    
          <div>
            <%= render "form", booking: @booking %>
          </div>


      <div class="container m-1 border">
        <h2>Decks cards</h2>
       <ul class="list-group d-flex flex-row flex-wrap">
         <% @deck.cards.each do |card| %>
            <li class="list-group-item col-3"><%= cl_image_tag card.photo.key, class: "img-fluid" %></li>
         <% end %>
        </ul>

      </div>
  </div>



</div>
