<div class="container mt-4">
  <div class="mb-2"><%= link_to "Back", decks_path, class: "btn btn-flat col-1 mt-1 mb-1" %> </div>
    <div>
      <%= render "form", booking: @booking %>
    </div>

    <div class="container mt-3 form-container">
      <h2 >Deck cards</h2>
      <ul class="list-group d-flex flex-row flex-wrap list-group-flush">
        <% @deck.cards.each do |card| %>
          <li class="list-group-item col-3 index-deck-container p-4"><%= cl_image_tag card.photo.key, class: "img-fluid", height: 450, crop: :fill %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
